[submodule "thirdparty/zstr"]
	path = src/h3mtxt/thirdparty/zstr
	url = https://github.com/mateidavid/zstr.git
[submodule "thirdparty/zlib"]
	path = src/h3mtxt/thirdparty/zlib
	url = https://github.com/madler/zlib.git
[submodule "thirdparty/jsoncpp"]
	path = src/h3mtxt/thirdparty/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "tests/thirdparty/Catch2"]
	path = tests/thirdparty/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "thirdparty/lodepng"]
	path = examples/Minimap/src/thirdparty/lodepng
	url = https://github.com/lvandeve/lodepng.git
